.MainArticle__title a {
  font-family: 'Roboto Slab', serif;
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.MainArticle__title a:hover {
  color: #008ae0;
  text-decoration: none;
}

.MainArticle__description {
  color: #777;
}
