.SidePanel__title a {
    font-size: 1.75rem;
    font-weight: 700;
}

.SidePanel__title a,
.SidePanel__item a {
    color: #000;
    transition: all 0.3s ease;
}

.SidePanel__item a {
    font-weight: 700;
}

.SidePanel__title a:hover,
.SidePanel__item a:hover {
    color: #008ae0;
    text-decoration: none;
}

.SidePanel__description {
    line-height: 1.3rem;
}
